.general {
  background-image: url("./assets/ArticlesHero.jpg");
  background-size: cover;
}
.business {
  background-image: url("./assets/businessHeroImg.jpg");
  background-size: cover;
}
.sports {
  background-image: url("./assets/sportsHeroImg.jpg");
  background-size: cover;
}
.technology {
  background-image: url("./assets/technologyHeroImg.jpg");
  background-size: cover;
}

footer {
  background-image: url("./assets/FooterImg.jpg");
  background-size: cover;
}

.commentSection::-webkit-scrollbar {
  /* display: none; */
  width: 6px;
}
.commentSection::-webkit-scrollbar-track {
  background: #fbfffb;
  border-radius: 20px;
}
.commentSection::-webkit-scrollbar-thumb {
  background-color: #1e2939;
  border-radius: 20px;
  margin: 0 2px;
  cursor: pointer;
}
.navItem a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 2px;
  background-color: #1e2939;
  transition: 0.3s ease;
}
.navItem:hover a::after {
  width: 30%;
}

.navItem .active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 2px;
  background-color: #1e2939;
}
